/* Desktop Styles */
.profile-section {
  clip-path: circle(100% at 0% 50%);
  background: linear-gradient(to bottom, #6e1602, black);
  transition: width 0.3s ease-out;
}

.background-circle {
  background-image: url('/pathway.gif');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
}

/* Mobile Styles */
.mobile-semicircle {
  clip-path: circle(90% at 50% 0%);
  background: linear-gradient(to bottom, #6e1602, black);
}

.mobile-background-circle {
  background-image: url('/pathway.gif');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}

@media (orientation: landscape) {
  .mobile-semicircle {
    clip-path: circle(100% at 0% 50%);
  }
  
  .mobile-background-circle {
    width: 200px;
    height: 200px;
  }
}

@media (orientation: portrait) {
  .mobile-semicircle {
    clip-path: circle(90% at 50% 0%);
  }
  
  .mobile-background-circle {
    width: 160px;
    height: 160px;
  }
}